footer {
  margin-bottom: 0;
}

.rftext{
    text-decoration: none;
    background-image: linear-gradient(to bottom, yellow, red)!important;
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent !important;
  cursor: pointer;
}
.fmargin{
  margin-bottom: 0px;
  padding-bottom: 0px;
}